<div id="main">
    <div id="content" [ngClass]="{xz: !open_cart, xz2: open_cart}">
        <div class="search-group input-group">
            <input #search_text (keyup)="searchBYname(search_text.value)" type="text" placeholder="Search.." id="search-fild">
        </div>
        <div class="cards-group" *ngIf="search_result">
            <div class="card" *ngFor="let item of search_result" (click)="eddToCart(item._id)" [ngClass]="{lessCards: open_cart}">
                <div class="">
                    <img src={{item.image}} class="card-img" alt="...">
                </div>
                <div class="">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.price}} $</p>
                    <p class="card-text">{{item.category}}</p>
                    <button class="adding" (click)="addToCart(item._id)">Add to Cart</button>
                </div>
            </div>
            <!-- <p>{{searc_item || json}}</p> -->
        </div>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <button id="first_link" class="nav-link" (click)="groupeBy('All')">All</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" (click)="groupeBy('Milk & Eggs')">Milk & Eggs</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" (click)="groupeBy('Fruit & Vegetables')">Fruit & Vegetables</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" (click)="groupeBy('Meat & Fish')">Meat & Fish</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" (click)="groupeBy('Drinks')">Drinks</button>
            </li>
        </ul>

        <div class="cards-group" *ngIf="grouped_by === null">
            <div class="card" *ngFor="let item of productes_data_db" [ngClass]="{lessCards: open_cart}">
                <div class="">
                    <img src={{item.image}} class="card-img" alt="...">
                </div>
                <div class="">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.price}} $</p>
                    <p class="card-text">{{item.category}}</p>
                </div>
                <button class="adding" (click)="addToCart(item._id)">Add to Cart</button>
            </div>
        </div>

        <div class="cards-group" *ngIf="grouped_by !== null">
            <div class="card" *ngFor="let item of grouped_by" (click)="eddToCart(item._id)" [ngClass]="{lessCards: open_cart}">
                <div class="">
                    <img src={{item.image}} class="card-img" alt="...">
                </div>
                <div class="">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.price}} $</p>
                    <p class="card-text">{{item.category}}</p>
                    <button class="adding" (click)="addToCart(item._id)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

    <div class="extra">
        <button *ngIf="!open_cart" class="nav-link" (click)="openCart()">My Cart</button>
        <button *ngIf="open_cart" class="nav-link" (click)="openCart()">=></button>
    </div>
</div>

<div [ngClass]="{open: open_cart, close: !open_cart}">
    <div *ngIf="message && open_cart">
        <h3>{{message}}</h3>
        <a href="/home"> Go LogIn</a>
    </div>
    <div *ngIf="open_cart && !message">
        <app-cart></app-cart>
    </div>
</div>


<style>
    /* cart */
    
    .search-group {
        margin: 50px;
    }
    
    #search-fild {
        width: 250px;
        height: 50px;
    }
    
    #search-button {
        border-left: solid black 1px;
        border-right: none;
        margin-left: 0px;
        position: absolute;
    }
    
    .user-inf {
        width: 50%;
    }
    
    .adding {
        background-color: rgba(128, 128, 128, 0.5);
    }
    
    #order-button {
        border: solid black 1px;
    }
    
    .open {
        width: 40%;
        transition: width 1.5s;
        height: 800px;
        position: fixed;
        right: 15%;
        top: 280px;
        padding: 1%;
        z-index: 999;
        border-left: black solid 1px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .close {
        width: 0%;
    }
    
    #cart {
        height: 100%;
        position: fixed;
        right: 0;
        width: 40%;
        padding: 1%;
        z-index: 999;
        border: black solid 1px;
    }
    
    .extra {
        margin-top: 5%;
    }
    
    #main {
        display: flex;
    }
    
    .xz {
        width: 92%;
    }
    
    .xz2 {
        width: 39%;
    }
    
    h2 {
        margin: 50px;
    }
    
    button {
        border: none;
    }
    
    #first_link {
        border-left: solid black 0.5px;
    }
    
    .nav-link {
        border-right: solid black 0.5px;
    }
    
    .cards-group {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        width: 19%;
        text-align: center;
        margin: 0.5%;
    }
    
    .lessCards {
        width: 48%;
    }
    
    .card-img {
        margin: 1%;
        height: 200px;
        width: 200px;
    }
    
    h2 {
        text-align: center;
    }
</style>