<p> {{res | json}} </p>

<div class="input-form">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="_user_todo">Users</label>
        </div>
        <select [(ngModel)]="new_task_user" class="custom-select" id="_user_todo">
          <option selected>Choose...</option>
          <option *ngFor="let user of users_db" value={{user._id}}>{{ user.name }}</option>
        </select>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Task to-do</span>
        </div>
        <textarea [(ngModel)]="new_task_text" class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div>
        <button (click)="createNewTask()" type="button" class="btn btn-light btn-block">Create Task</button>
    </div>

</div>

<style>
    .input-form {
        margin: 5%;
        padding: 5%;
    }
    
    .input-group-prepend {
        width: 20%;
    }
    
    .input-group-text {
        width: 100%;
    }
    
    button {
        margin-top: 15px;
    }
</style>