<!-- <p>{{data_db | json}}</p> -->

<div class="table-group">
    <h2>Tasks</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"># id</th>
                <th scope="col">Text</th>
                <th scope="col">User</th>
                <th scope="col">Created</th>
                <th scope="col">Done</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of data_db">
                <th scope="row" (click)="moreDetail(task._id)">{{task._id}}</th>
                <td>"{{task.text}}"</td>
                <td>{{task.user_to_do}}</td>
                <td>{{task.was_created}}</td>
                <td>{{task.done}}</td>
                <td><button *ngIf="task.done===false" (click)="done(task._id)">V</button></td>
                <td><button (click)="delete(task._id)">X</button></td>
            </tr>
        </tbody>
    </table>
</div>



<style>
    .table-group {
        margin: 5%;
        padding: 5%;
    }
    
    h2 {
        text-align: center;
    }
</style>