<div id="forUser" *ngIf="!admin">
    <div class="boxes">
        <div id="do-logi-IN" *ngIf="ection_to_do ==='login' && user_name === ''">
            <app-signin></app-signin>
        </div>

        <div *ngIf="ection_to_do ==='signup'">
            <app-signup></app-signup>
        </div>

        <div *ngIf="ection_to_do ==='password-change'">
            <app-passchange></app-passchange>
        </div>

        <div *ngIf="user_name" id="welcom-message">
            <p>Hello, {{ user_name }}</p>
            <p>We are very glad to welcome you to our online store.</p>
            <p>The convenience of our customers is the most important thing for us!</p>
            <p>In your cart <mark *ngIf="numberOfItems>0">{{numberOfItems}}</mark><mark *ngIf="!numberOfItems">there is no</mark> items. Would you like to <a href="/shop" *ngIf="numberOfItems>0">continue the purchase</a><a href="/shop" *ngIf="!numberOfItems">start shoping</a>                ?</p>
            <p>If you want to register under a different name, click "Sign Out" button.</p>
        </div>

        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="nav-link btn btn-light btn-block" (click)="ection_to_do = 'login'" *ngIf="ection_to_do !== 'login'"> SignIn </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-light btn-block" (click)="ection_to_do = 'signup'" *ngIf="!user_name && !admin"> SignUp </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-light btn-block" (click)="ection_to_do = 'password-change'" *ngIf="user_name"> Change Password? </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="boxes">

    </div>
</div>

<div id="forAdmin" *ngIf="admin">
    <h1>Welcome! </h1>
    <h4>You are registered as the
        <font size="5" color="red" face="Arial">administrator</font> of this site.</h4>
    <h4> As a site administrator, two tabs are available to you: "Orders" and "Products". </h4>
    <br>
    <p>
        <font size="5" color="red" face="Arial">*</font>Orders</p>
    <p>Here you can view the list of orders.</p>
    <br>
    <p>
        <font size="5" color="red" face="Arial">*</font>Products</p>
    <p>Here you can add or modify existing products.</p>
    <br>
    <h4>To exit the admin mode, press "Sign Out"</h4>
</div>

<style>
    #forUser {
        display: flex;
    }
    
    .boxes {
        border: black solid 1px;
        width: 780px;
        margin: 3%;
    }
    
    #do-logi-IN {
        width: 100%;
    }
    
    button {
        background-color: rgba(182, 193, 201, 0.582);
        width: 98%;
        margin: 1%;
    }
    
    #welcom-message {
        margin: 10%;
    }
    
    mark {
        background-color: white;
        font-size: large;
        font-family: Bookman, URW Bookman L, serif;
        font-weight: bold;
    }
    
    #forAdmin {
        border: black solid 1px;
        /* height: 500px; */
        width: 60%;
        margin-top: 5%;
        margin-left: 20%;
        margin-bottom: 5%;
        padding: 1%;
    }
</style>