<div class="top-container">
    <h1> Demo Site </h1>
    <p>+9072524458442</p>
</div>
<style>
    .top-container {
        text-align: center;
        color: grey;
    }
</style>

<!-- header -->
<div class="header" id="myHeader" [class.sticky]="sticky" #stickyMenu>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" id="stor-name">
            <img src="https://dcassetcdn.com/design_img/1698888/436878/436878_9312312_1698888_d128d5a4_image.jpg" alt="sorry"> EasyBay
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" *ngIf="userName!=='Please, Sign In'">
                <li class="nav-item active">
                    <button><a class="nav-link" href="/home"> Home <span class="sr-only">(current)</span></a></button>
                </li>
                <li class="nav-item active">
                    <button><a class="nav-link" href="/shop"> Shop <span class="sr-only">(current)</span></a></button>
                </li>
            </ul>
        </div>

        <div id="navbarNav2">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <h2> {{userName}} </h2>
                </li>
            </ul>
        </div>
    </nav>

</div>

<style>
    img {
        height: 150px;
    }
    
    .header {
        margin-left: 15%;
        width: 70%;
        border: black solid 1px;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        z-index: 100;
    }
</style>

<div class="content">
    <router-outlet></router-outlet>
</div>


<style>
    /* “on scroll” sticky menu */
    
    .content {
        justify-content: center;
        text-align: center;
        border: black solid 1px;
        width: 70%;
        margin-left: 15%;
    }
    /* NAVBAR */
    
    #navbarNav {
        margin-left: 5%;
    }
    
    li {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    
    h2,
    #stor-name {
        font-style: italic;
        font-family: Bookman, URW Bookman L, serif;
    }
</style>