<div id="cart">
    <p>{{message}}</p>
    <div *ngIf="my_cart.length>0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Picter</th>
                    <th class="price-text" scope="col">Price</th>
                    <th class="price-text" scope="col">Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of my_cart">
                    <th scope="row">{{item.name}}</th>
                    <td><img class="cart-img" src="{{item.image}}" alt="..."></td>
                    <td class="price-text">{{item.price}}$ <br>{{item.for_quantity}}{{item.for_measure}}</td>
                    <td class="price-text"><button class="button" (click)="less(item.item_id, item.amount)">-</button>{{item.amount}}<button class="button" (click)="more(item.item_id)">+</button></td>
                    <th><button class="nav-link" class="del-button" (click)="delete(item.item_id)">X</button></th>
                </tr>
            </tbody>
        </table>

        <div id="finale-price" *ngIf="total_price">
            <div class="user-inf">
                <h4>Total <b>{{total_price.toFixed(2)}}</b> $ </h4>
            </div>
            <div class="user-inf cart-buttons">
                <button id="order-button"> <a href="/order" class="nav-link"> Order </a></button>
            </div>
            <div class="user-inf cart-buttons">
                <button id="clean-button" (click)="cleaneCart()"><a class="nav-link">Clean the Cart </a> </button>
            </div>
        </div>
    </div>

</div>

<style>
    .cart-img {
        height: 50px;
        width: 50px;
    }
    
    .price-text {
        text-align: center;
    }
    
    .cart-buttons {
        margin-top: 15px;
    }
    
    .cart-buttons button {
        border: none;
        padding: 5px;
        background-color: rgba(128, 128, 128, 0.479);
    }
    
    a {
        color: black;
    }
    
    .button {
        width: 30px;
        border: none;
        background-color: white;
    }
    
    .del-button {
        height: 30px;
        width: 30px;
        border: none;
        background-color: rgba(168, 0, 0, 0.445);
    }
</style>